    <ion-view view-title="Home">
		<ion-content padding="true">
			<a href="#/app/game-options" class="button button-stable button-block">Start game</a>
			<a href="#/app/register"class="button button-stable button-block">Register</a>
			<a href="#/app/ranking"class="button button-stable button-block">Leaderboards</a>
			<a href="#/app/profiles"class="button button-stable button-block">Profiles</a>
			<button class="button button-stable button-block" ng-click="quit()">Quit</button>
		</ion-content>
    </ion-view>