RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [QSA,NC,L]

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST"
Header add Access-Control-Allow-Headers: "Content-Type"