<ion-modal-view>
	<ion-header-bar class="bar-positive">
		<h1 class="title">Add points</h1>
		<div class="buttons">
      		<button class="button button-icon ion-close button-clear" ng-click="closeModal()"></button>
    	</div>
	</ion-header-bar>
	<ion-content>
		<label class="form-label">Team</label>			
		<ion-radio name="teamGuessed" ng-model="guess.team" value="{{ teams[0].name }}">{{ teams[0].name }}</ion-radio>
		<ion-radio name="teamGuessed" ng-model="guess.team" value="{{ teams[1].name }}">{{ teams[1].name }}</ion-radio>
		<label class="form-label">Points</label>			
		<ion-radio name="guessPoints" ng-model="guess.points" value="1">Normal</ion-radio>
		<ion-radio name="guessPoints" ng-model="guess.points" value="2">Dark</ion-radio>

		<button class="button button-full button-balanced" ng-click="addPoints(guess.team, guess.points)">Add</button>	
	</ion-content>
</ion-modal-view>